<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Static Example</title>

  <!-- jQuery -->
<script type="text/javascript" src="/static/jquery-3.3.1.slim.min.js"></script>
  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="/static/datetimepicker-2.5.20/build/jquery.datetimepicker.min.css" type="text/css" />
  <script src="/static/datetimepicker-2.5.20/build/jquery.datetimepicker.full.min.js" type="text/javascript" ></script>
</head>

  {% include "django/forms/widgets/input.html" %}

  <script>
    $(function () {
      $("#endtime").datetimepicker();
    });
  </script>

